# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the
# repo. Unless a later match takes precedence, this team will
# be requested for review when someone opens a pull request.
* @carbon-design-system/developers-system-reviewers

# Carbon AI Chat
/packages/chat      @carbon-design-system/carbon-ai-chat-admins @carbon-design-system/developers-system-reviewers

# Admins should be notified of changes to CI/CD workflows
# codeowners, and any other config present in .github.
# This should always be the last entry in this file.
/.github/           @carbon-design-system/developers-system-admins
/.github/CODEOWNERS @carbon-design-system/developers-system-admins
