{
  "extends": [
    "./node_modules/eslint-config-carbon"
  ],
  "overrides": [
    {
      "files": [
        "**/*.stories.ts",
        "**/*.stories.js"
      ],
      "rules": {
        "jsdoc/require-jsdoc": 0,
        "jsdoc/require-param-description": 0,
        "jsdoc/require-param-name": 0,
        "jsdoc/require-param": 0,
        "jsdoc/require-param-type": 0
      }
    },
    {
      "files": [
        "**/*.test.ts",
        "**/*.test.js",
        "**/__tests__/**/*.ts",
        "**/__tests__/**/*.js"
      ],
      "rules": {
        "jsdoc/require-jsdoc": [
          2,
          {
            "require": {
              "ArrowFunctionExpression": false,
              "ClassDeclaration": true,
              "FunctionDeclaration": true,
              "MethodDefinition": true
            }
          }
        ]
      }
    },
    {
      "files": [
        "**/*.js",
        "**/*.ts"
      ],
      "rules": {
        "jsdoc/require-jsdoc": [
          2,
          {
            "require": {
              "ArrowFunctionExpression": true,
              "ClassDeclaration": true,
              "FunctionDeclaration": true,
              "MethodDefinition": true
            }
          }
        ],
        "jsdoc/require-param-description": 2,
        "jsdoc/require-param-name": 2,
        "jsdoc/require-param": 2,
        "jsdoc/require-param-type": 2,
        "jsdoc/valid-types": 2,
        "jsdoc/check-param-names": 0,
        "jsdoc/check-tag-names": 0,
        "jsdoc/check-types": 0,
        "jsdoc/check-values": 0
      }
    }
  ]
}
