# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn/install-state.gz

node_modules
dist
es
dist-ssr
lib
*.local
.env
storybook-static
custom-elements.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.nx/*
agentic.stories.js