{
  "**/*.js": [
    "prettier --cache --write",
    "eslint",
    "pnpm lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "pnpm lint:license:staged"
  ],
  "*.md": [
    "prettier --cache --write"
  ]
}
