@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/colors';

.welcome__container {
  position: fixed;
  padding: 3rem;
  background: url('./CarbonLabs2.png') no-repeat center center fixed;
  background-size: cover;
  block-size: 100vh;
  inline-size: 100vw;
  inset-block-start: 0;
  inset-inline-start: 0;
}

.welcome__heading {
  @include type.type-style('productive-heading-07');

  color: colors.$gray-80;
}

.welcome__link,
.welcome__link:hover,
.welcome__link.cds--link:visited {
  margin-top: 1rem;
  color: colors.$blue-70;
}

.welcome__link:first-child {
  margin-top: 2rem;
}
