@use '@carbon/styles' as styles with (
  $font-path: '~@ibm/plex'
);
@use '@carbon/styles/scss/breakpoint' as breakpoint;
@use '@carbon-labs/mdx-components/scss/index.scss';

:root {
  @include styles.theme(styles.$white);
}

[data-carbon-theme='g10'] {
  @include styles.theme(styles.$g10);
}

[data-carbon-theme='g90'] {
  @include styles.theme(styles.$g90);
}

[data-carbon-theme='g100'] {
  @include styles.theme(styles.$g100);
}

body,
.docs-story {
  background: styles.$background;
  color: styles.$text-primary;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}

.cds--mdx .sbdocs.sbdocs-wrapper {
  padding: 0;
}

.cds--mdx .sbdocs.sbdocs-content {
  max-inline-size: none;
  @include breakpoint.breakpoint(lg) {
    --cds-grid-columns: 12;
  }
}

.cds--mdx img {
  background: #ffffff;
  max-inline-size: 100%;
}

.cds--mdx .image--fixed img {
  @include breakpoint.breakpoint(lg) {
    max-inline-size: 736px;
  }
}
