name: Release - minor

## on every merge to the main branch, lerna will publish a minor version for packages that have been modified
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    # if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: '0'
          token: ${{ secrets.MERGE_ACTION }}
      - run: |
          git config user.name carbon-bot
          git config user.email carbon@us.ibm.com
      - name: Use Node.js 18.x
        uses: actions/setup-node@v6
        with:
          node-version: '18.x'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Build project
        run: yarn build
      - name: Set NPM token
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc
      - name: Publish minor release of packages
        run: |
          yarn lerna publish minor --dist-tag latest --yes --message 'chore: release'
        env:
          GH_TOKEN: ${{ secrets.MERGE_ACTION }}
